<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <!-- Container wrapper -->
    <div class="container-fluid">
        <!-- Navbar brand -->
        <a class="navbar-brand" href="#!"><span style="color: #18af98;">Insti</span><span
                style="color: #000000;">Lunchbox</span></a>

        <!-- Toggle button -->
        <button class="navbar-toggler" type="button" (click)="basicNavbar.toggle()" aria-expanded="false"
            aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>

        <!-- Collapsible wrapper -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent" mdbCollapse #basicNavbar="mdbCollapse">
            <!-- Left links -->
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active">Dashboard</a>
                </li>
                <div class="d-flex align-items-center">
                </div>
            </ul>
            <!-- Left links -->
            <!-- Right links -->
            <ul class="navbar-nav ms-auto me-2 mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" href="" (click)="$event.preventDefault();logout();">Logout</a>
                </li>
            </ul>
            <!-- Right links -->
        </div>
        <!-- Collapsible wrapper -->
    </div>
    <!-- Container wrapper -->
</nav>
<!-- Navbar -->

<div class="container-fluid" style="width: 75%;" *ngIf="fooditems.length > 1">
    <div class="card text-center mt-5">
        <table class="table align-middle mb-0 bg-white">
            <thead class="bg-light">
                <tr>
                    <th>Food Name</th>
                    <th>Food Quantity</th>
                    <th>Remarks</th>
                    <th>Institute Name</th>
                    <th>Institute Address</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let fooditem of fooditems">
                    <td>
                        <div class="d-flex justify-content-center">
                            <div class="ms-3">
                                <p class=" fw-bold mb-1">{{fooditem.fname}}</p>
                            </div>
                        </div>
                    </td>
                    <td>
                        <p class="fw-normal mb-1">{{fooditem.fqty}}</p>
                    </td>
                    <td>{{fooditem.fremark}}</td>
                    <td>{{fooditem.lunchbox.institute.name}}</td>
                    <td>{{fooditem.lunchbox.institute.address}}</td>
                    <td>
                        <!-- <button type="button" class="btn-"></button> -->
                        <a *ngIf="fooditem.confirm">Item has been confirmed for pickup by
                            <strong>{{fooditem.ngoname}}</strong> </a>
                        <button *ngIf="!fooditem.confirm" class="btn btn-primary" style="background-color: #55acee;"
                            (click)="$event.preventDefault();fooditem.confirm=true;confirmPickup(fooditem);"
                            role="button">Pickup</button>
                    </td>
                    <!-- <td>
                        <button type="button" class="btn btn-link btn-sm btn-rounded" (click)="getAllFooditem()">
                            Edit
                        </button>
                    </td> -->
                </tr>
            </tbody>
        </table>
    </div>
</div>